name: Daily Weather Bot

on:
  schedule:
    - cron: '0 22 * * *' # 한국 시간 오전 7시 (UTC 22시)
  workflow_dispatch: # 수동으로 실행해볼 수 있는 버튼 생성

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests
      - name: Run script
        run: python main.py
